* {
    margin: 0;
}

html,
body {
    width: 100%
}

.color-red{
    background-color: red;
    color: white;
}

.color-blue{
    background-color: blue;
    color: white;
}

.grid-item:nth-child(1) {
    grid-area: header;


}

.grid-item:nth-child(2) {
    grid-area: main;

    
}

.grid-item:nth-child(3) {
    grid-area: sidebar;

    
}

.grid-item:nth-child(4) {
    grid-area: footer;

    
}




.grid-container {
    display: grid;

    /*Defines the size of row and column of the grid*/
    grid-template-columns:repeat(4, 90px);
    grid-template-rows: repeat(5, 50px);

    /*Setting the layout of the grid box using grid-template-area*/
    grid-template-areas: 
    "sidebar header header"
    "sidebar main main"
    "sidebar main main"
    "footer footer footer"    
    ;


}